@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';


body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.page {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
//main-container全局样式
.app-main {
  min-height: 100%
}

//搜索栏样式
.filter-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}
.filter-container .button-container{
  margin-left: auto;
  /**
   * flex: 1;
   * text-align: right;
   * **/
   margin-bottom: 18px;
}
.filter-container>div{
  padding-right: 30px;
}

//操作栏样式
.operate-container {
  margin-top: 20px;
}

.operate-container .btn-add {
  float: right;
}

//表格栏样式
.table-container {
  margin-top: 20px;
}

//批量操作栏样式
.batch-operate-container {
  display: inline-block;
  margin-top: 20px;
}

//分页栏样式
.pagination-container {
  display: inline-block;
  float: right;
  margin: 20px;
}

//添加、更新表单样式
.form-container {
  position: absolute;
  left: 0;
  right: 0;
  width: 720px;
  padding: 35px 35px 15px 35px;
  margin: 20px auto;
}

//主标题
.font-extra-large {
  font-size: 20px;
  color: #303133;
}

//标题
.font-title-large {
  font-size: 18px;
  color: #303133;
}

//小标题
.font-title-medium {
  font-size: 16px;
  color: #303133;
}

//正文
.font-medium {
  font-size: 16px;
  color: #606266;
}

//正文
.font-small {
  font-size: 14px;
  color: #606266;
}

//正文（小）
.font-extra-small {
  font-size: 13px;
  color: #606266;
}

.color-main {
  color: #409EFF;
}

.color-success {
  color: #67C23A;
}

.color-warning {
  color: #E6A23C;
}

.color-danger {
  color: #F56C6C;
}

.color-info {
  color: #909399;
}

/** 使用 el-scrollbar组件需要设置的全局样式*/

body {
  overflow: hidden;
  .main-container {
    .el-scrollbar__wrap {
      overflow-x: hidden;
    }
  }
}

.first-container {
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}

.middle-container {
  border-radius: 0px !important;
}

.second-container {
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.first-container .el-card__body,
.second-container .el-card__body,
.middle-container .el-card__body,
.operate-container .el-card__body {
  padding: 0;
}

.operate-container .el-table {
  border: 0;
}

.headerspan {
  line-height: 32px;
}

//展开table的label颜色和宽度设置
.table-expand label {
  // width: 110px;
  color: #99a9bf;
}

//backtop控件样式重置
.el-backtop {
  background-color: #186bcc !important;
  color: #fff !important;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 6px 10px 0px rgba(0, 0, 0, 0.14), 0px 1px 18px 0px rgba(0, 0, 0, 0.12) !important;
  z-index: 99 !important;
}

//对pagination分页控件的样式改造
.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12) ! important;
  background-color: #fff !important;
  border-radius: 4px;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: #1867c0 !important;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12)! important;
}

.el-pagination.is-background .el-pager li:not(.disabled).active:hover {
  color: #fff !important;
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
  color: #1867c0 !important;
}

.el-table__empty-text {
  line-height: 0px !important;
  padding: 10px 0 !important;
}


/**查询条件框按钮动画效果*/

.clearfix {
  letter-spacing: .05em;
}

.clearfix .headerspan {
  margin-left: 5px;
}

.header-link {
  float: right;
  line-height: 35px;
}

.header-link a {
  color: #fff !important;
  font-size: 16px;
  font-weight: 400;
  width: 75px;
  letter-spacing: .15em;
}

.header-link .el-link.is-underline:after {
  height: 100%;
  content: "";
  width: 0px;
  position: absolute;
  left: 50%;
  background-color: #ffffff3d;
  border-bottom: 2px solid #fff !important;
  transition-property: width, margin-left, border-bottom;
  transition-duration: 0.375s;
}

.header-link .el-link.is-underline:hover:after {
  left: 50%;
  background-color: #ffffff3d;
  border-bottom: 2px solid #fff !important;
  width: 100%;
  margin-left: -50%;
  height: 100% !important;
}


/**查询条件框按钮动画效果*/

.el-input__prefix {
  width: 25px;
}

.el-button [class*=icon-]+span {
  margin-left: 5px;
}

.el-button [class*=icon-] {
  font-size: 14px;
}


/**
*弹出框去掉内部边距
*/

.new-el-dialog .el-dialog__body {
  padding: 0;
}

.el-popup-parent--hidden {
  padding-right: 0!important;
}

#map-container {
  ::v-deep .amap-logo{
    display: none!important;
  }
  ::v-deep .amap-copyright{
    display: none!important;
  }
}
